body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #423651;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 0;
}
header button {
    padding: 5px 10px;
    border: none;
    background-color: #f44336;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}
#content {
    margin: 0 5% 0 5%;
    padding: 20px;
}
.hidden {
    display: none;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group button {
    padding: 10px 15px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.form-group button:hover {
    background-color: #45a049;
}

#post-category{
    font-size: 12px;
    display: flex;
    align-items: center;
    flex-direction: row;
}