.yeseva-one-regular {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Yatay taşmaları engelle */
}
body{
    position: absolute;
    height: 100%;
    background-color: #24253a;
    color: white;
    font-family: "", serif;
    margin: 0;
}

/* GENERAL PURPOSES */
.strongtexts{
    font-family: "Yeseva One", serif;
}
.clickable:visited{
    color: white;
}
.clickable:hover{
    cursor: pointer;
    color: #f39e52;
    background-color: #404367;
    scale: 1.1;
    transition: all 0.2s linear !important;
}
i{
    font-size: 25px;
    color: white;
    padding: 5px 15px 5px 15px;
}
.hr{
    color: slategrey;
    height: 1px;
    background-color: slategrey;
    border: 0;
    margin-left: 0;
    margin-right: 0;
}
p{
    font-size: 20px;
}
/********************/

/* CONTACT BAR */
#contactBar{
    display: flex;
    justify-content: space-between;
    background-color: #423651;
    margin: 0 0 15px 0;
    font-size: 13px;
    font-family: "Arial", serif;
    color: white;
}
#contactBar #mailSection{
    display: flex;
    align-items: center;
    gap: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
#contactBar #mailSection img{
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 6px;
}
#contactBar #socialMediaNavs{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.socialMediaNavLogos{
    height: 30px;
    width: 30px;
    border-radius: 7px;
    transition: all 0.2s linear !important;
}
#contactBar #socialMediaNavs #facebookLogo:hover, #twitterLogo:hover, #instagramLogo:hover {
    height: 35px;
    width: 35px;
    cursor: pointer;
}
#contactBar #socialMediaNavs #twitterLogo:hover{
    background-color: #1DA1F2;
}
#contactBar #socialMediaNavs #instagramLogo:hover{
    background-color: #C13584;
}
/********************/

/* HEADER BAR */
#headerBar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 4% 0 4%;
}
#headerBar #logo{
    cursor: pointer;
}
#headerBar #logo img{
    width: 200px;
    transition: all 0.2s linear !important;
}
#headerBar #logo img:hover{
    width: 250px;
}
#headerBar .nav-toggle{
    display: none;
    border: 1px solid slategrey;
    font-size: 15px;
    border-radius: 10px;
    align-items: center;
    scale: 1;
}
#headerBar #navs{
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    gap: 10px;
}
#headerBar #navs .close-button{
    display: none;
}
#headerBar #navs a{
    border: 1px solid slategrey;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
#headerBar #navs a i{
    position: relative;
    margin-right: 10px;
    font-size: 18px;
    padding: 0;
}
#headerBar #navs a:link, a:visited{
    color: white;
    text-decoration: none;
}

#headerBar #navs a:hover{
    color: #f39e52;
}
/********************/

/* MAIN SECTION */
#main{
    position: relative;
    margin: 6% 4% 0 4%;
}
/********************/

/* FOOTER SECTION */
footer{
    position: static;
    bottom: 0;
    background: #423651;
    border-radius: 15px 15px 0 0;
    padding: 10px 40px;
    text-align: center;
    margin: 8% 4% 0 4%;
}
footer p, a{
    font-size: 15px;
    color: white;
}
/********************/

/* RESPONSIVENESS SETTINGS */
@media (max-width: 1160px) {
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden; /* Yatay taşmaları engelle */
    }
    /* HEADER */
    #headerBar {
        display: flex;
        justify-content: flex-start;
        text-align: center;
        align-items: center;
        position: sticky !important;
        top: 0;
        z-index: 10;
        background: #24253a;
        border-bottom: 1px solid slategray;
        padding: 2% 4%;
        margin: 0;
    }

    #headerBar #logo img {
        width: 230px;
    }

    #headerBar #logo img:hover {
        width: 270px;
    }

    .hr{
        display: none;
    }

    #headerBar .nav-toggle {
        display: flex;
        position: absolute;
        height: 70%;
        right: 4%;
        padding: 0;
        border: 1px solid slategrey;
        border-radius: 10px;
        color: white;
        background: none;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }

    #headerBar #navs {
        justify-content: center;
        display: none;
        flex-direction: column;
    }

    #navs.active {
        display: flex !important;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #423651;
        z-index: 100;
        animation: slideDown 0.3s ease-out;
    }

    #headerBar #navs .close-button {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 25px;
        padding: 10px;
        border: 1px solid slategrey;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #headerBar #navs .close-button i {
        font-size: 30px;
        padding: 0;
    }

    #headerBar #navs a {
        width: 70%;
        justify-content: center;
        margin: 10px 0;
        font-size: 25px;
    }
    /********************/

    /* GENERAL PURPOSE */
    .clickable:hover {
        scale: 1.06;
    }
    /********************/
}

/* ANIMATIONS, SCROLLBAR ETC. */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/********************/
