/* MAIN SECTION */

main{
    margin: 0 10% 0 10%;
}
#magZeppelinText{
    color: #f39e52;
}

#welcome-heading{
    text-align: center;
    margin-top: 10vh;
    font-size: 6vh;
}

#welcome-text{
    text-align: center;
}

main #searchDiv form{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 6vh;
    left: 50%;
    right: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding: 5px 20px 5px 20px;
}
#searchDiv form input{
    border: 5px solid #423651;
    border-radius: 20px;
    position: relative;
    width: 70vh;
    font-size: 20px;
    padding: 5px 15px 5px 15px;
    color: #423651;
}
#searchDiv form input:focus{
    outline: none;
}
#searchDiv form button{
    border: none;
    padding: 0;
    background: none;
}
#searchDiv form button i{
    border: 4px solid #423651;
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
}

#categories {
    position: relative;
    margin-top: 5%;
    padding: 20px;
}

.category {
    margin-bottom: 40px;
    border-radius: 10px;
    border: 3px solid slategray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
}

.category h2 {
    font-size: 4.5vh;
    margin-bottom: 15px;
}

.slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider .post-card {
    min-width: 280px;
    flex: 0 0 auto;
    background: none;
    border-radius: 0;
    border: 3px solid slategray;
    box-shadow: 8px 12px #423651;
    overflow: hidden;
    margin-bottom: 10vh;
    margin-top: 5vh;
    position: relative;
}

.slider .post-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.slider .post-card-content {
    padding: 10px;
}

.slider .post-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.slider .post-card-desc {
    font-size: 0.9rem;
    color: #666;
}

.btn{
    border: 1px solid slategray;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 20vh;
    text-decoration: none;
    align-items: center;
    position: absolute;
    right: 3vh;
    bottom: 3vh;
}

.btn i{
    position: relative;
    margin-right: 10px;
    font-size: 15px;
    padding: 0;
}
/********************/

/* RESPONSIVENESS SETTINGS */
@media (max-width: 960px){
    main{
        margin: 0 2% 0 2%;
    }
    #welcome-text{
        font-size: 25px;
        margin: 0 8% 0 8%;
    }
}
/********************/


