/* MAIN SECTION */

main{
    margin: 0 10% 0 10%;
}
#kozmosText{
    color: #f39e52;
}

#welcome-heading{
    text-align: center;
    margin-top: 10vh;
    font-size: 6vh;
}

#welcome-text{
    text-align: center;
}

main #searchDiv form{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 6vh;
    left: 50%;
    right: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding: 5px 20px 5px 20px;
}
#searchDiv form input{
    border: 5px solid #423651;
    border-radius: 20px;
    position: relative;
    width: 70vh;
    font-size: 20px;
    padding: 5px 15px 5px 15px;
    color: #423651;
}
#searchDiv form input:focus{
    outline: none;
}
#searchDiv form button{
    border: none;
    padding: 0;
    background: none;
}
#searchDiv form button i{
    border: 4px solid #423651;
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
}



#categories {
    position: relative;
    margin-top: 5%;
    padding: 20px;
}

.category {
    background: #423651;
    margin-bottom: 40px;
    border-radius: 10px;
    border: 3px solid slategray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
}

.category h2 {
    font-size: 2vw;
    margin-bottom: 15px;
}

.category h2 i{
    font-size: 1.5vw;
    margin-right: 1vw;
}

.slider {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.slider::-webkit-scrollbar {
        display: none;
}

.slider .post-card {
    border-radius: 0;
    border: 3px solid slategray;
    background: #24253a;
    overflow: hidden;
    margin-bottom: 10vh;
    margin-top: 5vh;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear !important;
}

.slider .post-card:hover {
    scale: 1.02;
    margin-left:4px;
    margin-right: 4px;
    box-shadow: 8px 12px #24253a;
}

.slider .post-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.slider .post-card-content {
    padding: 10px;
}

.slider .post-card-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.slider .post-card-desc {
    font-size: 1rem;
    color: slategray;
}

.slider .date-and-time{
    display: flex;
    color: slategray;
    align-items: center;
    font-size: 1.2rem;
    gap: 20px;
}

.slider i {
    color: slategray;
    padding: 0;
    font-size: 15px;
    margin-right: 5px;
}

.btn{
    border: 3px solid slategray;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 20vh;
    text-decoration: none;
    align-items: center;
    position: absolute;
    right: 3vh;
    bottom: 2vh;
}

.btn i{
    position: relative;
    margin-right: 10px;
    font-size: 15px;
    padding: 0;
}
/********************/

/* RESPONSIVENESS SETTINGS */
@media (max-width: 1160px){
    main{
        margin: 0 2% 0 2%;
    }
    #welcome-text {
        font-size: 25px;
        margin: 0 8% 0 8%;
    }
    .category h2 {
        font-size: 5vw;
    }
    .category h2 i{
        font-size: 4vw;
        margin-right: 1vw;
    }

}
@media (max-width: 710px){
    .slider{
        display: block;
        margin: 0;
    }
}
/********************/


