html, body{
    margin: 0 auto;
}

main{
    margin-left: 10%;
    margin-right: 10%;
}

#post-title{
    font-size: 50px;
    margin: 0 0 20px 0;
}

.post-info-container{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 15px;
    flex-wrap: wrap;
    margin-left: 0;
}

.info-item{
    display: flex;
    align-items: center;
    font-size: 13px;
}

.info-item i{
    padding: 0 10px 0 0;
}

#post-description{
    font-size: 20px;
}

p > img{
    height: 25vw;
    width: 40vw;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#post-text{
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
}

.post-sources-container{
    display: flex;
    align-items: center;
    gap: 15px;
}

.post-sources-container i{
    padding: 0 5px 0 0;
    font-size: 15px;
}
.post-sources-container p{
    font-size: 15px;
}

@media (max-width: 1160px){
    p > img{
        height: 50vw;
        width: 70vw;
    }
}

@media (max-width: 500px) {
    p > img{
        height: 50vw;
        width: 90%;
    }

    .post-info-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }
}
